.steps {
  width: 40%;
}

.steps__title {
  text-align: center;
  font-family: "Playfair", sans-serif;
}

.steps__container {
  border: 2px black solid;
  border-radius: 8px;
  padding: 10px;
}

.steps__step-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__step-number {
  font-family: "Nunito", sans-serif;
  color: #0000ff;
  font-size: 24px;
}

.steps__step-btn {
  color: gold;
  border-radius: 8px;
  padding: 6px;
  background-color: blue;
}

@media screen and (max-width: 627px) {
  .steps {
    width: 100%;
  }
}
